n8n-workflow-whatsapp-confirmacao.json
{
  "name": "AgendaI — Confirmação WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wahawebhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000001",
      "name": "Webhook AgendaI",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "wahawebhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-phone",
              "leftValue": "={{ $json.body.client_phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "cond-wapp",
              "leftValue": "={{ $json.body.whatsapp_habilitado }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1a2b3c4d-0002-0002-0002-000000000002",
      "name": "Verificar Condições",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://agendai.vercel.app/api/whatsapp-template",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "business_id",
              "value": "={{ $json.body.business_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1a2b3c4d-0003-0003-0003-000000000003",
      "name": "Buscar Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "jsCode": "// Pega os dados dos nós anteriores\nconst webhook = $('Webhook AgendaI').item.json.body;\nconst template = $('Buscar Template').item.json;\n\n// Verifica se WhatsApp está habilitado\nif (!template.habilitado) {\n  return [{ json: { skipped: true, reason: 'WhatsApp desabilitado' } }];\n}\n\n// Template de confirmação \nlet mensagem = template.templates?.confirmacao || \n  `Olá ${webhook.client_name}! Seu agendamento foi confirmado. Obrigado!`;\n\n// Substitui variáveis\nconst data_hora = webhook.start_time \n  ? new Date(webhook.start_time).toLocaleString('pt-BR', {\n      timeZone: 'America/Sao_Paulo',\n      day: '2-digit', month: '2-digit',\n      hour: '2-digit', minute: '2-digit'\n    })\n  : '';\n\nconst [data_str, hora_str] = data_hora ? data_hora.split(', ') : ['', ''];\n\nmensagem = mensagem\n  .replace(/{nome}/g, webhook.client_name || 'Cliente')\n  .replace(/{servico}/g, webhook.service_name || '')\n  .replace(/{data}/g, data_str)\n  .replace(/{hora}/g, hora_str)\n  .replace(/{profissional}/g, webhook.professional_name || '')\n  .replace(/{negocio}/g, webhook.business_name || '');\n\n// Formata telefone: remove tudo que não é número e adiciona @c.us\nconst telefone = webhook.client_phone.replace(/\\D/g, '');\nconst chatId = `${telefone}@c.us`;\n\nreturn [{\n  json: {\n    session: template.waha_session || 'default',\n    chatId,\n    text: mensagem,\n    client_phone: webhook.client_phone,\n    client_name: webhook.client_name\n  }\n}];"
      },
      "id": "1a2b3c4d-0004-0004-0004-000000000004",
      "name": "Montar Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://2n8n-waha.oggciy.easypanel.host/api/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "SBrNRu8doChS8amCmy1sI7PmpXyR8eba"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $json.session }}"
            },
            {
              "name": "chatId",
              "value": "={{ $json.chatId }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1a2b3c4d-0005-0005-0005-000000000005",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"message\": \"Mensagem enviada com sucesso\" }",
        "options": {}
      },
      "id": "1a2b3c4d-0006-0006-0006-000000000006",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": false, \"message\": \"Condições não atendidas (phone vazio ou WhatsApp desabilitado)\" }",
        "options": {}
      },
      "id": "1a2b3c4d-0007-0007-0007-000000000007",
      "name": "Responder Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 400]
    }
  ],
  "connections": {
    "Webhook AgendaI": {
      "main": [
        [
          {
            "node": "Verificar Condições",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Condições": {
      "main": [
        [
          {
            "node": "Buscar Template",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Template": {
      "main": [
        [
          {
            "node": "Montar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Mensagem": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-17T00:00:00.000Z",
  "versionId": "1"
}
