n8n-workflow-whatsapp-confirmacao.json
{
  "name": "AgendaI — Confirmação WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wahawebhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000001",
      "name": "Webhook AgendaI",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "wahawebhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-phone",
              "leftValue": "={{ $json.body.client_phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "cond-wapp",
              "leftValue": "={{ $json.body.whatsapp_habilitado }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1a2b3c4d-0002-0002-0002-000000000002",
      "name": "Verificar Condições",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Pega os dados direto do webhook — sem callback para o Agendai\nconst body = $('Webhook AgendaI').item.json.body;\n\n// Usa o template que veio no payload, ou uma mensagem padrão\nlet mensagem = body.msg_confirmacao || \n  `Olá ${body.client_name}! Seu agendamento foi confirmado. Obrigado por escolher ${body.business_name || 'nosso serviço'}!`;\n\n// Formata a data/hora\nconst data_hora = body.start_time\n  ? new Date(body.start_time).toLocaleString('pt-BR', {\n      timeZone: 'America/Sao_Paulo',\n      day: '2-digit', month: '2-digit',\n      hour: '2-digit', minute: '2-digit'\n    })\n  : '';\n\nconst partes = data_hora ? data_hora.split(', ') : ['', ''];\nconst data_str = partes[0] || '';\nconst hora_str = partes[1] || '';\n\n// Substitui variáveis\nmensagem = mensagem\n  .replace(/{nome}/g, body.client_name || 'Cliente')\n  .replace(/{servico}/g, body.service_name || '')\n  .replace(/{data}/g, data_str)\n  .replace(/{hora}/g, hora_str)\n  .replace(/{profissional}/g, body.professional_name || '')\n  .replace(/{negocio}/g, body.business_name || '');\n\n// Formata telefone: remove tudo que não é número e adiciona @c.us\nconst telefone = body.client_phone.replace(/\\D/g, '');\nconst chatId = `${telefone}@c.us`;\n\nreturn [{\n  json: {\n    session: 'default',\n    chatId,\n    text: mensagem\n  }\n}];"
      },
      "id": "1a2b3c4d-0004-0004-0004-000000000004",
      "name": "Montar Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://2n8n-waha.oggciy.easypanel.host/api/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "SBrNRu8doChS8amCmy1sI7PmpXyR8eba"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session\": \"{{ $json.session }}\",\n  \"chatId\": \"{{ $json.chatId }}\",\n  \"text\": \"{{ $json.text }}\"\n}",
        "options": {}
      },
      "id": "1a2b3c4d-0005-0005-0005-000000000005",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"message\": \"Mensagem enviada\" }",
        "options": {}
      },
      "id": "1a2b3c4d-0006-0006-0006-000000000006",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": false, \"message\": \"Condições não atendidas\" }",
        "options": {}
      },
      "id": "1a2b3c4d-0007-0007-0007-000000000007",
      "name": "Responder Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 400]
    }
  ],
  "connections": {
    "Webhook AgendaI": {
      "main": [
        [
          {
            "node": "Verificar Condições",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Condições": {
      "main": [
        [
          {
            "node": "Montar Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Mensagem": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-17T00:00:00.000Z",
  "versionId": "2"
}
